KRX_API=D14E3393F2EF4A53B8F8C99287998AEB0AD4B87C
KRX_AUTH_KEY=
KRX_OUTPUT_BLOCK=OutBlock_1
KRX_ETF_MASTER_CODE_FIELD=ISU_SRT_CD
KRX_ETF_HOLDINGS_ETF_CODE_FIELD=ETF_CODE
KRX_STOCK_MASTER_URL=https://data-dbg.krx.co.kr/svc/apis/sto/stk_isu_base_info
KRX_STOCK_TRADING_URL=https://data-dbg.krx.co.kr/svc/apis/sto/stk_bydd_trd
KRX_ETF_MASTER_URL=
KRX_ETF_HOLDINGS_URL=
KRX_ETF_TRADING_URL=
KRX_MARKET_SUMMARY_URL=
